body {
    margin: 0;
    font-family: arial;
}

.topnav {
    overflow: hidden;
    background-color: #000000;
}

.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-family: courier new, serif;
    font-weight: bold;
}

.topnav a:hover {
    background-color: #ff5959;
    color: black;
}

.topnav a.active {
    background-color: #ff0000;
    color: white;
}

#tag {
    /*margin-left: 82px;width: 70px;height:32px*/
}