.container {
    width: 1000px;
    height: 400px;
    border: 1px solid #78d5c0;
    margin: 0 auto;
}

.succpay {
    width: 1000px;
    height: 60px;
    border: 1px solid #d3b57e;
    line-height: 50px;
    marign-left: 30px;
    background-color: #efb5b5;
}

.succpay span {
    font-size: 25px;
}

.paydetail {
    width: 400px;
    height: 170px;
    border: 1px solid #d3b57e;
    margin-left: 150px;
    margin-top: 50px;
    font-size: 25px;
}

.paydetail .span1 {
    color: #d94b4b;
}

.xian1 {
    width: 900px;
    text-align: center;
}

.safetixing {
    width: 1000px;
    height: 60px;
    text-align: center;
    font-size: 20px;
}

.span2 {
    color: #d94b4b;
}