<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>index.html</title>
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
</head>
<body>
<h1>index.html</h1>
<a th:href="@{addtest}">添加测试</a>
<a th:href="@{admin}">后台</a>
<div id="app">
    <el-button @click="visible = true">Button</el-button>
    <el-dialog :visible.sync="visible" title="Hello world">
        <p>Try Element</p>
    </el-dialog>
</div>
<a th:href="@{categiry/edit}">
    编辑分类
</a>
<form action="admin_ProductImage_add" enctype="multipart/form-data" id="addForm" method="post">
    <input id="wdnmd" name="pid" value=""/>
    <input name="type" value="type_single"/>
    <div class="classpicture" style="text-align: center;font-size:35px;line-height: 60px;"><input
            accept="image/*"
            id="categoryPic"
            name="image"
            type="file"/>
    </div>
    <div class="define">
        <button class="btndef" type="submit">提 交</button>
    </div>
</form>

</body>
<!-- import Vue before Element -->
<script th:src="@{js/vue2.js}"></script>
<!-- import JavaScript -->
<script th:src="@{js/element-ui.js}"></script>
<script>
    new Vue({
        el: '#app',
        data: function () {
            return {visible: false}
        }
    })
</script>
</html>