<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>index.html</title>
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
</head>
<body>
<h1>index.html</h1>
<!--<a th:href="@{addtest}">添加测试</a>-->
<!--<a th:href="@{admin}">admin</a>-->
<a th:href="@{confirmpay}">确认付款confirmpay</a>
<a th:href="@{confirmreceip}">确认收货confirmreceip</a>
<a th:href="@{login}">登录login</a>
<!--<a th:href="@{dodo}">dodo</a><br>-->
<a th:href="@{evalute}">评价evalute</a><br>
<!--<a th:href="@{footer}">footer</a>-->
<a th:href="@{forebought}">所有订单forebought</a>
<a th:href="@{gdcart}">购物车gdcart</a>
<a th:href="@{goodsdetails}">商品详情goodsdetails</a><br>
<!--<a th:href="@{header}">header</a>-->
<a th:href="@{new首页}">new首页</a>
<a th:href="@{nodelivery}">待发货nodelivery</a><br>
<a th:href="@{noevaluate}">待评价noevaluate</a>
<a th:href="@{noreceipt}">待收货noreceipt</a><br>
<a th:href="@{nppay}">待付款nppay</a>
<a th:href="@{regist}">登录regist</a>
<a th:href="@{succ}">交易成功succ</a><br>
<a th:href="@{succreceip}">收货成功succreceip</a>
<a th:href="@{个人中心}">个人中心</a>
<a th:href="@{分类页面}">分类页面</a><br>
<a th:href="@{支付成功界面}">支付成功界面</a>
<a th:href="@{支付页面}">支付页面</a>
<a th:href="@{首页}">首页</a>

<!--<div id="app">-->
<!--    <el-button @click="visible = true">Button</el-button>-->
<!--    <el-dialog :visible.sync="visible" title="Hello world">-->
<!--        <p>Try Element</p>-->
<!--    </el-dialog>-->
<!--</div>-->
<!--<a th:href="@{categiry/edit}">-->
<!--    编辑分类-->
<!--</a>-->
<!--<form action="admin_ProductImage_add" enctype="multipart/form-data" id="addForm" method="post">-->
<!--    <input id="wdnmd" name="pid" value=""/>-->
<!--    <input name="type" value="type_single"/>-->
<!--    <div class="classpicture" style="text-align: center;font-size:35px;line-height: 60px;"><input-->
<!--            accept="image/*"-->
<!--            id="categoryPic"-->
<!--            name="image"-->
<!--            type="file"/>-->
<!--    </div>-->
<!--    <div class="define">-->
<!--        <button class="btndef" type="submit">提 交</button>-->
<!--    </div>-->
<!--</form>-->

</body>
<!-- import Vue before Element -->
<script th:src="@{js/vue2.js}"></script>
<!-- import JavaScript -->
<script th:src="@{js/element-ui.js}"></script>
<script>
    new Vue({
        el: '#app',
        data: function () {
            return {visible: false}
        }
    })
</script>
</html>